{%extends "base.html"%}

{%block title%}Home{% endblock %}

{%block body%}
    <div class="jumbotron">
        <h1>pymailtrack</h1>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1>mail tracking in python</h1>
        </div>
    </div>
{##}
{#     <div class="row">#}
{#        <div class="col-lg-12">#}
{#            <h1>mail tracking in python</h1>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="row">#}
{#        <div class="col-md-4">#}
{#            <h3>AA</h3>#}
{#            <p>BLA</p>#}
{#        </div>#}
{##}
{#        <div class="col-md-4">#}
{#            <h3>BB</h3>#}
{#            <p>BLA2</p>#}
{#        </div>#}
{##}
{#        <div class="col-md-4">#}
{#            <h3>CC</h3>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="row">#}
{#        <div class="col-md-4">#}
{#            <h3>Tests</h3>#}
{#            <p>Example tests, built with py.test, are included in to demonstrate how to test a flask app.</p>#}
{#        </div>#}
{##}
{#        <div class="col-md-4">#}
{#            <h3>Common Libraries</h3>#}
{#            <p>The CSS Library Bootstrap is included, along with the Javascript libraries modernizr and jQuery.</p>#}
{#        </div>#}
{#    </div>#}
{%endblock%}